<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Intercoop</title>
        <link href="css/main.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
