<phpunit 	bootstrap="vendor/autoload.php"			
			colors="always"
			convertErrorsToExceptions="true"
			convertNoticesToExceptions="true"
			convertWarningsToExceptions="true"
			>
			<logging>
				<log type='testdox-html' target='log-test.html' />
			</logging>
			<testsuites>
				<testsuite name="Unit Tests">
					<directory>tests</directory>
				</testsuite>
			</testsuites>
</phpunit>
